{% extends 'header.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        
    </head>

    <body>
         
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Products</a></li>
                    <li class="breadcrumb-item active">Product List</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- Product List Start -->
        <div class="product-view">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row">
                            
                            {% for i in products %}
                            <div class="col-md-4">
                                <div class="product-item">
                                    <div class="product-title">
                                        <a href="#">{{i.product_name}}</a>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="product-image">
                                        <a href="product-detail.html">
                                            <img src="{{i.product_image.url}}" alt="Product Image" style="height: 280px; width:250px">
                                        </a>
                                        <div class="product-action">
                                            <a href="#"><i class="fa fa-cart-plus"></i></a>
                                            <a href="#"><i class="fa fa-heart"></i></a>
                                            <a href="#"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-price">
                                        <h3><span>Rs. </span>{{i.product_price}}</h3>
                                        <a class="btn" href="{% url 'product_detail' pk=i.pk %}">Details</a> 
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        
                        <!-- Pagination Start -->
                        <div class="col-md-12">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- Pagination Start -->
                    </div>           
                    
                    <!-- Side Bar Start -->
                    <div class="col-lg-4 sidebar">                    
                        <div class="sidebar-widget widget-slider">
                            <h1>Products</h1>
                            <div class="sidebar-slider normal-slider">
                                {% for i in products %}
                                <div class="product-item" style="margin-top:50px">
                                    <div class="product-title">
                                        <a href="#">{{i.product_name}}</a>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="product-image">
                                        <a href="product-detail.html">
                                            <img src="{{i.product_image.url}}" alt="Product Image" style="height:280px; width:300px;">
                                        </a>

                                        <div class="product-action">
                                            <a href="#"><i class="fa fa-cart-plus"></i></a>
                                            <a href="#"><i class="fa fa-heart"></i></a>
                                            <a href="#"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-price">
                                        <h3><span>Rs. </span>{{i.product_price}}</h3>
                                        <a class="btn" href="{% url 'product_detail' pk=i.pk %}">Details</a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>                    
                        <div class="sidebar-widget tag">
                            
                        </div>
                    </div>
                    <!-- Side Bar End -->

                </div>
            </div>
        </div>
        <!-- Product List End -->  
        
        <!-- Brand Start -->
        <div class="brand">
            <div class="container-fluid">
                <div class="brand-slider">
                    <div class="brand-item"><img src="{% static 'img/brand-1.png' %}" alt=""></div>
                    <div class="brand-item"><img src="{% static 'img/brand-2.png' %}" alt=""></div>
                    <div class="brand-item"><img src="{% static 'img/brand-3.png' %}" alt=""></div>
                    <div class="brand-item"><img src="{% static 'img/brand-4.png' %}" alt=""></div>
                    <div class="brand-item"><img src="{% static 'img/brand-5.png' %}" alt=""></div>
                    <div class="brand-item"><img src="{% static 'img/brand-6.png' %}" alt=""></div>
                </div>
            </div>
        </div>
        <!-- Brand End -->
 
    </body>
</html>
{% endblock %}